<div class="left_div">
  <h4 style="color:gray">HOME</h4>
  <h2>Current Project Summary</h2> <br>
  <select class="dropdown_location">
    <option class="dropdown_location" *ngFor="let location of location_array">{{location}}</option>
  </select>
  <br><br>
<div class="container-fluid">  
  <div class="row">
    <div class="col-md-3 three_boxes ">Project in Progress ..</div>
    <div class="col-md-3 three_boxes col-md-offset-1">Project Start This Year</div>
    <div class="col-md-3 three_boxes col-md-offset-1">Project Ending This Year</div>
  </div>
  <br><br><br><br>
</div>
</div>