.margin{
    margin:5px;
}
.heading{
    margin-top: 75px;
    margin-bottom: 20px
}
.round-btn{
    border-radius: 25px;
    background-color: #254b78 ;
}
.margin-div{
    margin-left: 10px;
    margin-right:25px;
}
.spacing{
    margin-left:7%;
    margin-top: 25px;
    margin-right: 0%;
}
label{
    color:gray;
}
input{
    margin-bottom: 0px;
}
.padding_btn{
    padding:5px;
    padding-left: 25px;
    padding-right: 25px
}
.danger-text{
    color: red;
}