.padding{
    margin-bottom: 0px;
    border-bottom: 1px solid skyblue;
}
.blue{
    font-weight: bold;
    font-size: 25px;
    color: #1b4f72;
    
}
.black{
    font-size: 25px;
    color: gray;
}
.decorated_line{
    height:5px;
    background: #1b4f72;
}